@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

    <img style="width: 300px; margin-bottom: 30px;" src="~/Assets/senai.png" alt="Logo Senai">

    <h1>Sistema de Manutenção</h1>
    <p class="descrption descrptionBig">Recupere o acesso à sua conta</p>

    <article class="card">
        <p>Redefinir Senha</p>
        <p class="descrption">Informe seu e-mail e enviaremos um link para você voltar a acessar sua conta.</p>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="inputs">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" placeholder="seu@email.com" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="submit">Enviar link de redefinição</button>

            <div class="login-links">
                <p>
                    <a asp-page="./Login">Voltar para o login</a>
                </p>
            </div>
        </form>
    </article>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}