.mainPage {
    flex-direction: column;
}

.box {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title2 {
    font-size: 16px;
    align-items: flex-end;
}

.box form {
    flex-direction: row;
    align-items: flex-end;
}

.submit {
    height: 30px;
}

.inputs {
    width: 300px;
}

table {
    min-width: 600px;
}

td {
    border-bottom: 1px solid #71718275;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: flex-start;
}

.tdIcon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 12px;
}
.container-elementos {
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 10px; 
}

td p {
    font-size: 14px;
}

@media (max-width: 1100px) {
    .box {
        width: 95%;
        overflow-x: scroll;
    }
}

@media (max-width: 650px) {
    form {
        flex-wrap: wrap;
    }

    .box {
        width: 88%;
    }

    td .descrption {
        font-size: 10px;
    }

    td p {
        font-size: 12px;
    }

    td {
        font-size: 12px;
        flex-wrap: wrap;
    }

    .tdIcon {
        font-size: 12px;
    }
}
